html {
  border: 25px solid #943276;
}

p {
  padding: 80px;
}
a {
  border: unset;
  font-style: italic;
  font-weight: bold;
}
abbr {
  text-decoration: none;
  border: unset;
  font-style: italic;
  font-weight: bold;
}

/*selettori ID*/
#zen-summary {
  margin: auto;
  padding: 0;
  background: linear-gradient(45deg, #b6008288, #7b06436a);
}
#zen-preamble {
  margin: auto;
  padding: 0;
  background: linear-gradient(45deg, #b6008288, #7b06436a);
}
footer {
  background-color: rgb(103, 109, 102);
  border: solid 5px rgb(23, 171, 36);
}
#zen-explanation {
  background-color: rgb(103, 109, 102);
  border: solid 5px rgb(23, 171, 36);
}

#zen-participation {
  background-color: rgb(103, 109, 102);
  border: solid 5px rgb(23, 171, 36);
}

#zen-benefits {
  background-color: rgb(103, 109, 102);
  border: solid 5px rgb(23, 171, 36);
}

#zen-requirements {
  background-color: rgb(103, 109, 102);
  border: solid 5px rgb(23, 171, 36);
}

#design-selection {
  background: linear-gradient(45deg, #b6008288, #7b06436a);
  border: solid 5px rgb(215, 43, 158);
}

#design-archives {
  background: linear-gradient(45deg, #b6008288, #7b06436a);
  border: solid 5px rgb(215, 43, 158);
}

#zen-resources {
  background: linear-gradient(45deg, #b6008288, #7b06436a);
  border: solid 5px rgb(215, 43, 158);
}

/*TESTI ZONA FOOTER */
footer a.zen-validate-html {
  color: purple;
}
footer a.zen-validate-css {
  color: purple;
}
footer a.zen-license {
  color: purple;
}
footer a.zen-accessibility {
  color: purple;
}

footer a.zen-github {
  color: purple;
}

/* selettori classi*/
*summary {
  color: red;
  padding: 20px;
}

/* attributo che finisce con "$" */
aside div.design-selection nav [href] {
  color: purple;
}

/* attributo che inizia con "^" */

aside div.design-archives nav [href] {
  color: purple;
}

aside div.zen-resources ul [href] {
  color: purple;
}
