/* body {
  color: red;
  background-color: rgb(255, 255, 255);
  background-image: url(../css-zen-garden/images/Zen1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: left;
  background-attachment: scroll;
} */

/* p {
  color: initial
}; */

header h1 {
  /* font-size: 24px; */ /*vedi nella scheda main.css che vi è anche un altro modo per dare dei size*/
  color: rgb(9, 6, 50);
  font: 32px "Inconsolata", monospace;
  /* font-family: "Inconsolata", monospace; */ /*altro modo per mettere il font con il font-family*/
}

header h2 {
  color: rgb(240, 233, 233);
  font: 25px "Inconsolata", monospace;
}

header {
  background-image: url(./images/Zen1.png),
    linear-gradient(45deg, #8c3573, #f08dc0);
  background-size: cover;
  background-position-x: -300%;
  color: white;
  margin: auto;
  border: dotted 1px #ab3386;
  border-radius: 50%;
  padding: 100px;
  width: 500px;
  height: 500px;
}

header abbr {
  text-decoration: initial;
}

