:root {
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}

*,
::before,
::after {
  box-sizing: inherit;
  transition: inherit;
}

/* GLOBAL/MOBILE FIRT (iniziamo con il dispositivo modbile piu piccolo) 
*/

body {
  font-family: calibri, sans-serif;
  font-size: 1.2em;
  margin: 0;
}

h1 {
  font-size: 1.8em;
  margin: 0.9em 0 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.9em 0 0 0;
}
p {
  font-size: 0.9em;
  padding: 5px;
}

figure {
  background-color: black;
  border-radius: 0.4em;
  color: white;
  padding: 0.8em;
  text-align: center;
  margin: 0 0 0.9em 0;
}

img {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
}
.container {
  margin: 0 0.5em;
}

/* 
FLEX FIGURE
*/
figure {
  display: flex;
  flex-direction: column;
}

/* 
EFFECT
*/
figure:hover {
  transition-duration: 0.5s;
  background-color: red;
  cursor: pointer;
}

/* IMPOSTAZIONE RESPONSIVE PER TABLET DA 768px */

@media screen and (min-width: 768px) {
  body {
    background-color: rgba(0, 0, 255, 0.2);
    margin: 0;
  }

  figure {
    float: left;
    width: calc(50% - 1.5em);
    margin-right: 1.5em;
  }

  .kittens {
    margin-right: -1.5em;
  }

  .kittens::after {
    content: "";
    clear: both;
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: rgba(100, 218, 171, 0.2);
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding: 0.1em 1.5em;
  }
}
